.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // Full screen height
    background-color: #f7f7f7; // Light gray background
    font-family: Arial, sans-serif;
    position: relative;
    top: 50%;
    left: 200%;
  
    .form-container {
      background-color: #ffffff;
      border: 1px solid #ddd; // Subtle border
      border-radius: 8px;
      padding: 2rem;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #333333;
        font-size: 1.5rem;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        input {
          margin-bottom: 1rem;
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
          outline: none;
          transition: border-color 0.2s ease-in-out;
  
          &:focus {
            border-color: #007bff; // Subtle blue border on focus
          }
        }
  
        button {
          background-color: black; // Blue button
          color: #ffffff;
          padding: 0.75rem;
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
  
          &:hover {
            background-color: #0056b3; // Darker blue on hover
          }
        }
      }
  
      .register-link {
        margin-top: 1rem;
        text-align: center;
  
        p {
          font-size: 0.9rem;
          color: #555555;
  
          a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  